@use 'custom' as *;
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

@font-face {
    font-family: capitol;
    src: url("/fonts/Capitol Light Capitals.otf") format("opentype");
}


* {
    box-sizing: border-box;

    ul {
        list-style: none;
    }
    a {
        text-decoration: none !important;
    }
}

#gallery-modal {
    .modal-img {
        width: 100%;
    }
}

body {
    height: 100vh;
    width: 100%;
    background-color: $primary !important;
    font-family: 'Martian Mono', monospace !important;
}

.container {
    max-width: 1680px !important;
}

.header {
    display: flex;
    height: 120px;
    position: relative;
    a {
        color: #000;
        &:hover {
            color: #000;
        }
    }
    &__title {
        font-family: capitol;
        font-size: 50px;
        // font-weight: 700;
        @include media-breakpoint-up(md) {
            font-size: 70px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 100px;
        }
    }
    &__menu {
        position: relative;
        cursor: pointer;
        z-index: 10;
        &--dropdown {
            z-index: -1;
            position: absolute;
            opacity: 0;
            top: -39px;
            transform: translateY(-500px);
            right: -20px;
            pointer-events: none;
            background-color: #fff;
            transition: all 0.4s ease-in-out;
            ul {
                padding: 0;
                text-align: center;
                li {
                    padding: 0 20px;
                    margin: 40px 0;
                    
                    &:hover {
                        a {
                            // border-bottom: 1px solid #000;
                            &::after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                    a {
                        font-size: 22px;
                        @include media-breakpoint-up(md) {
                            font-size: 25px;
                        }
                        @include media-breakpoint-up(md) {
                            font-size: 30px;
                        }
                        text-decoration: none;
                        color: #000;
                        position: relative;
                        padding-bottom: 5px;
                        &::after {
                            content: '';
                            opacity: 0;
                            position: absolute;
                            background-color: #000;
                            height: 2px;
                            width: 0;
                            bottom: 0;
                            left: 0;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                }
            }
            &--work-nested {
                z-index: -1;
                position: absolute;
                opacity: 0;
                top: -39px;
                transform: translateY(-500px);
                right: -20px;
                pointer-events: none;
                background-color: #fff;
                transition: all 0.4s ease-in-out;
                padding: 0;
                text-align: center;
                .arrow-container {
                    display: flex;
                    align-items: center;
                }
                li {
                    padding: 0 20px;
                    margin: 40px 0;
                    
                    &:hover {
                        a {
                            // border-bottom: 1px solid #000;
                            &::after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                    a {
                        font-size: 22px;
                        @include media-breakpoint-up(md) {
                            font-size: 25px;
                        }
                        @include media-breakpoint-up(md) {
                            font-size: 30px;
                        }
                        text-decoration: none;
                        color: #000;
                        position: relative;
                        padding-bottom: 5px;
                        &::after {
                            content: '';
                            opacity: 0;
                            position: absolute;
                            background-color: #000;
                            height: 2px;
                            width: 0;
                            bottom: 0;
                            left: 0;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                }
            }
        }
        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }
    }
    &__image {
        position: absolute;
        top: 50px;
        right: 20%;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}
    
    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    .show {
        opacity: 1 !important;
        pointer-events: all;
        transform: translateY(0);
    }
}

.main {
    margin-top: 50px;
    min-height: 70vh;
}


.footer {
    
    background-color: #000;
    margin-top: 60px;
    @include media-breakpoint-up(md) {
        margin-top: 80px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 120px;
    }
    ul {
        margin: 0;
        padding: 40px 0;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
        @include media-breakpoint-up(md) {
            padding: 60px 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 80px 0;
        }
        li {
            margin-top: 10px;
            @include media-breakpoint-up(md) {
                margin: 0 30px 0 0;
            }
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

// INFO PAGE
.about {
    &--info {
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
        align-items: center;
    }
    @include media-breakpoint-up(md) {
        padding-top: 40px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 50px;
        &--info {
            flex-direction: row;
            row-gap: 50px;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

// WORK(categories) PAGE

.work {

   &-grid-categories {
    margin-top: 50px;
    @include media-breakpoint-up(md) {
        margin-top: 70px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 100px;
    }
    .row {
        row-gap: 30px;
    }

    .cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
   }
}

// CATEGORIES ENTRY PAGE

.category-entry {
    .work-grid-categories {
        img {
            height: 400px;
            object-fit: cover;
        }
    }
}

// PAINTING PAGE

.img-magnifier-container {
    position: relative;

    &:hover {
        .img-magnifier-glass {
            display: block;
        }
    }

    
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 200px;
    height: 200px;
    display: none;
}