<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Summertime</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  </head>
  <body> 
    <header class="header">
        <div class="container d-flex align-items-center justify-content-between">
            <a class="logo-container" href="/index.html">
              <img src="/img/logo.png" alt="logo">
              <div class="header__title">KARLOVITS MYRTO</div>
            </a>
            <div class="header__menu" id="header-menu">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>    
            </div>
            <div class="header__menu--dropdown">
              <ul>
                <li class="work-link">
                  <a href="/work.html">
                    Work
                  </a>
                </li>
                <li class="photography-link">
                  <a href="/photography.html">
                    Photography
                  </a>
                </li>
                <li>
                  <a href="/about.html">
                    Info
                  </a>
                </li>
              </ul>
            </div>
            <ul class="header__menu--dropdown--work-nested">  
              <li class="arrow-container">
                <img src="/img/arrow-back.svg" alt="arrow">
                <a href="/templates/work_entries/studies/studies.html">Studies</a>
              </li>
              <li><a href="#">Digital</a></li>
              <li><a href="#">Illustration</a></li>
              <li><a href="#">Crafts</a></li>
              <li><a href="#">Abstract</a></li>
              <li><a href="#">Portraits</a></li>
              <li><a href="#">Sculpture</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="/work.html">All</a></li>
            </ul>
            <ul class="header__menu--dropdown--photography-nested">  
              <li class="arrow-container">
                <img src="/img/arrow-back.svg" alt="arrow">
                <a href="/templates/work_entries/studies/studies.html">People</a>
              </li>
              <li><a href="#">World</a></li>
              <li><a href="#">Textures of earth </a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">A day in the life</a></li>
              <li><a href="/work.html">All</a></li>
            </ul>
        </div>
        </div>
      </header>
    <main class="main">
      <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Summertime</h2>
            </div>
            <div class="row photos">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/1-min.png" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/1-min.png"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/2-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/2-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/3-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/3-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/4-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/4-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/5-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/5-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/6-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/6-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/7-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/7-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/8-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/8-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/9-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/9-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/10-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/10-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/11-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/11-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/12-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/12-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/13-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/13-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/14-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/14-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/15-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/15-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/16-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/16-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/17-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/17-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/18-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/18-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/19-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/19-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/20-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/20-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/21-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/21-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/22-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/22-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/23-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/23-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/24-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/24-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/25-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/25-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/26-min.JPG" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/26-min.JPG"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/27-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/27-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/28-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/28-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/29-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/29-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/30-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/30-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/31-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/31-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/32-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/32-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/33-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/33-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/34-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/34-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/35-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/35-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/36-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/36-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/37-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/37-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/38-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/38-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/39-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/39-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/40-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/40-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/41-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/41-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/42-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/42-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/43-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/43-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/44-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/44-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/45-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/45-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/46-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/46-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/47-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/47-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/48-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/48-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/49-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/49-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/50-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/50-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/51-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/51-min.jpg"></a></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 item"><a href="/img/summertime/52-min.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/summertime/52-min.jpg"></a></div>
            </div>
        </div>
    </div>
    
    </main>
    <footer class="footer">
      <div class="container d-flex align-items-center justify-content-center">
        <ul class="d-flex">
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Instagram</a>
          </li>
          <li>
            <a href="#">LinkedIn</a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>